.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1600px;
    height: auto;
    margin: auto;
    padding: 1.1rem;
    background-color: #2c93e8;
  }

  .chatButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #0078d7;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  